<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.birb.canvas</string>
	<key>connections</key>
	<dict>
		<key>0DA652DD-221A-43DC-AB5B-B0071BE57DAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94E87656-2FE7-42A9-A0B8-CE9DC3891BB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>125C128D-D966-4986-951E-3AD55D921908</key>
		<array/>
		<key>1D5D1DA8-3B8F-400A-A660-426EBC5608FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5311F2C2-D5D8-4095-846B-C1271ACC6EAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5311F2C2-D5D8-4095-846B-C1271ACC6EAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>125C128D-D966-4986-951E-3AD55D921908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0F7A8E9F-C4E1-4A00-9F75-4482C2F7E8D7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8B8BE63-3DA2-40D2-8C8C-817E2302AE63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8239C64B-03B5-48BE-A35E-C3CE0FCD1D4A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8B8BE63-3DA2-40D2-8C8C-817E2302AE63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ADDB2AB7-047C-4C64-BBE0-E43A03DC43B9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8B8BE63-3DA2-40D2-8C8C-817E2302AE63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>26ADAF7E-2665-45F7-B256-21AF89CD7472</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AC546293-70A6-48A2-B8CC-BAB25393B1E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C727B0D8-236C-4740-9C28-8E92730382EA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>760AA0F0-F5A3-4230-A8E7-593F2017D515</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2C5B0E25-836C-4581-9AEA-F5717CF6E403</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>760AA0F0-F5A3-4230-A8E7-593F2017D515</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>16CD2EB0-4D83-4898-811D-ECAC8D6F5BC6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FBE1C7C3-8234-4481-BCA7-15A8D3525E87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>760AA0F0-F5A3-4230-A8E7-593F2017D515</key>
		<array/>
		<key>94E87656-2FE7-42A9-A0B8-CE9DC3891BB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D5D1DA8-3B8F-400A-A660-426EBC5608FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC546293-70A6-48A2-B8CC-BAB25393B1E5</key>
		<array/>
		<key>D8B8BE63-3DA2-40D2-8C8C-817E2302AE63</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>unnameduser95</string>
	<key>description</key>
	<string>Access the Canvas API using Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Canvas</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:split2}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>125C128D-D966-4986-951E-3AD55D921908</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>!open_url</string>
						<key>outputlabel</key>
						<string>Open page</string>
						<key>uid</key>
						<string>0F7A8E9F-C4E1-4A00-9F75-4482C2F7E8D7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>!api_key_save</string>
						<key>outputlabel</key>
						<string>Save API key</string>
						<key>uid</key>
						<string>8239C64B-03B5-48BE-A35E-C3CE0FCD1D4A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>!url_set</string>
						<key>outputlabel</key>
						<string>Save URL</string>
						<key>uid</key>
						<string>ADDB2AB7-047C-4C64-BBE0-E43A03DC43B9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>!clear_cache</string>
						<key>outputlabel</key>
						<string>Clear cache</string>
						<key>uid</key>
						<string>26ADAF7E-2665-45F7-B256-21AF89CD7472</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>!copy</string>
						<key>outputlabel</key>
						<string>Copy to clipboard</string>
						<key>uid</key>
						<string>C727B0D8-236C-4740-9C28-8E92730382EA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Description:</string>
						<key>outputlabel</key>
						<string>Show large type</string>
						<key>uid</key>
						<string>2C5B0E25-836C-4581-9AEA-F5717CF6E403</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Message:</string>
						<key>outputlabel</key>
						<string>Show large type</string>
						<key>uid</key>
						<string>16CD2EB0-4D83-4898-811D-ECAC8D6F5BC6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Output to workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5311F2C2-D5D8-4095-846B-C1271ACC6EAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>canvas</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/python canvas.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Browse Canvas</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0DA652DD-221A-43DC-AB5B-B0071BE57DAF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python canvas.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8B8BE63-3DA2-40D2-8C8C-817E2302AE63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>argument</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>94E87656-2FE7-42A9-A0B8-CE9DC3891BB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>1D5D1DA8-3B8F-400A-A660-426EBC5608FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:argument}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AC546293-70A6-48A2-B8CC-BAB25393B1E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>760AA0F0-F5A3-4230-A8E7-593F2017D515</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>canvas {var:argument}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>FBE1C7C3-8234-4481-BCA7-15A8D3525E87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Access the Canvas API through Alfred.

Icons from https://icons8.com</string>
	<key>uidata</key>
	<dict>
		<key>0DA652DD-221A-43DC-AB5B-B0071BE57DAF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>125C128D-D966-4986-951E-3AD55D921908</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>1D5D1DA8-3B8F-400A-A660-426EBC5608FF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>5311F2C2-D5D8-4095-846B-C1271ACC6EAB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>760AA0F0-F5A3-4230-A8E7-593F2017D515</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>94E87656-2FE7-42A9-A0B8-CE9DC3891BB0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>AC546293-70A6-48A2-B8CC-BAB25393B1E5</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>D8B8BE63-3DA2-40D2-8C8C-817E2302AE63</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>FBE1C7C3-8234-4481-BCA7-15A8D3525E87</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/unnameduser95/alfred-canvas</string>
</dict>
</plist>
